.secretmode_guide,
.secretmode_guide p {
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

#header.secretmode {
  margin-top: 48px !important;
}

.app_upload_box input[type="file"] {
  opacity: 1 !important;
  position: relative !important;
  width: auto !important;
  height: auto !important;
  transform: translateY(-11px) !important;
}
